.app {
font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 65px;
}

.logo {
    width: 90px; 
    border-radius: 50px;   
}

.logo-container {
    width: 90px;
    margin: 10px;
}

.nav-items {
    margin: 10px;
    padding-right: 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    width: 20em;
}

.image {
    width: 10em;
    padding-left: 5em;
}

.filter {
    border-radius: 10px;
}

.filter:hover {
    border:solid;
    cursor: pointer;
    background-color: grey;
    text-decoration: aliceblue;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.user-card {
    padding: 10px;
    border: 1px solid black;
}

/* Toaster Container */
.toast-container {
    position: fixed;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    z-index: 1000;
  }
  
  /* Individual Toast */
  .toast {
    background-color: #c21d1d;
    color: #fff;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slideIn 0.3s ease-in-out;
  }
  
  /* Toast Title */
  .toast-title {
    font-weight: bold;
  }
  
  /* Toast Message */
  .toast-message {
    flex-grow: 1;
    margin-left: 8px;
  }
  
  /* Close Button */
  .toast-close {
    cursor: pointer;
    padding: 4px;
    background-color: #555;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
  }
  
  /* Animation */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }